<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeDex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9AD4EED1E0DA787004EBCB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9AD4F011E0DA787004EBCB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9AD4F0C1E0DA788004EBCB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
